/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
:root {
    --dark-background: #253a52;
    --dark-primary: #FFFFE3;
    --dark-link: #A9FE75;
    --light-background: #fffff3;
    --light-primary: #253a52;
    --light-link: #1348da;
    --background: var(--light-background);
    --primary: var(--light-primary);
    --link: var(--light-link);
}

body {
    color: var(--primary);
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0 1rem;
    background: var(--background);
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    transition: color 0.5s, background 0.5s;
}

a {
    color: var(--link);
    text-decoration: none;
}

/* Headings */
h1, h2, h3 {
    font-family: "Sora", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

/* Separator bars */
nav, section {
    border-block-end: 1px solid var(--primary);
}

/* Header styles */
header {
    background-color: var(--background);
    padding: 1rem 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    padding: 0;
    display: flex;
    align-items: center;
}

header nav li {
    margin-inline-start: 1rem;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    list-style: none;
}

header nav li a {
    color: var(--primary);
    text-decoration: none;
}

/* Dark Mode Toggle */
header .controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
}

/* Bio section styles */
.bio {
    display: flex;
    align-items: center;
    padding-block-end: 4rem;
}

.bio .profile-img {
    margin-inline-end: 4rem;
    width: 320px;
    min-width: 320px;
    background: #888;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .bio {
        flex-direction: column;
    }

    .bio .profile-img {
        margin-inline-end: 0;
        margin-block-end: 1rem;
    }
}

.bio h2 {
    margin-block-end: 0;
}

.bio p {
    margin: 1.5rem 0;
}

/* Button styles */
a.btn {
    display: inline-flex;
    align-items: center;
    background: var(--link);
    color: var(--background);
    text-decoration: none;
    padding: 0 1rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
}

/* Skills section styles */
.skills {
    background-color: var(--light-background);
    padding: 3rem 0;
}

.skills h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.skills-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center;
    padding: 0;
}

.skills-list li {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 1rem;
}

.skill-icon {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.skill-name {
    font-size: 1.2rem;
}

/* Dark Mode Styles for the Skills Section */
body.dark-mode .skills {
    background-color: var(--dark-background);
}

body.dark-mode .skills h2 {
    color: var(--dark-primary);
}

body.dark-mode .skills-list li {
    border: 1px solid var(--dark-primary);
}

body.dark-mode .skill-icon {
    color: var(--dark-link);
}

body.dark-mode .skill-name {
    color: var(--dark-primary);
}

/* Project section styles */
.project {
    padding-block-end: 3rem;
}

article {
    display: flex;
    padding: 3rem 0;
}

article strong {
    font-style: italic;
    font-weight: 600;
}

article h3 {
    margin-block-start: 0;
}

article a {
    font-weight: 700;
    padding: 1rem 0;
    color: var(--link);
    text-decoration: none;
}

.project-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.github-link {
    background-color: var(--link);
    color: var(--background);
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
}

.demo-link {
    background-color: var(--primary);
    color: var(--background);
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
}

.article-img {
    width: 512px;
    min-width: 512px;
    margin-inline-start: 4rem;
}

@media (max-width: 1024px) {
    article {
        flex-direction: column;
    }

    .article-img {
        width: 100%;
        min-width: 100%;
        margin-inline-start: 0;
        margin-block-start: 2rem;
    }
}

/* Footer styles */
footer {
    padding: 1rem 0;
    text-align: center;
}

footer ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer ul li {
    display: inline;
    margin: 0 8%;
}

footer a {
    display: inline-flex;
    flex-direction: column;
    color: var(--primary);
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    align-items: center;
}

.link-icon {
    margin-block-start: 0.5rem;
    background: var(--link);
    color: var(--background);
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* Copyright notice */
.copywright {
    font-size: 0.875rem;
    margin-top: 1rem;
}
